body{
  font-family: 'Montserrat', sans-serif;
}
h1{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  margin: 230px 0 5px 0;
}
.container-fluid{
  padding: 10% 15%;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}
.nav-link{
  
}
.rotated{
  transform: rotate(25deg);

  width: 45%;
}
#title{
  background-color: #ff4c68;

}
